<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mail Başvuru</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Mail Başvuru</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/forms/mail/apply}" method="post" th:object="${mailFormDto}">
                            <div class="form-group">
                                <label for="email">E-posta Adresi</label>
                                <input type="email" class="form-control" id="email" name="email" th:field="*{email}" required>
                            </div>
                            <div>
                                <input>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Başvur</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 