<!-- Cloud Account Tab Fragment -->
<div class="tab-pane fade" id="cloud" role="tabpanel" aria-labelledby="cloud-tab">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Cloud Account Başvuru</h5>
        </div>
        <div class="card-body">
            <form th:action="@{/cloud-account/apply}" method="post" th:object="${cloudAccountFormDto}">
                <div th:replace="fragments/forms/cloud-account :: cloud-account-form"></div>
                <button type="submit" class="btn btn-primary">Başvur</button>
            </form>
        </div>
    </div>
</div> 